<!DOCTYPE html>
<html>
<head>
    <title>Guest Page</title>
    <link rel="stylesheet" href="style.css">
    <script src="/app.js"></script>
</head>
<body>
<h2>Welcome, Guest!</h2>
<button onclick="window.location.href='register'">Register</button>
<button onclick="window.location.href='login'">Login</button>
<button onclick="window.location.href='search-terms'">Search</button>
<button onclick="window.location.href='index-url'">Index URL</button>
<button onclick="window.location.href='top-stories'">Top Stories</button>
<button onclick="window.location.href='user-stories'">User Stories</button>
<button onclick="connect()">Admin</button>

<div id="popup" style="display: none;">
    <div class="popup">
        <h2 id="popupTitle"></h2>
        <p id="popupMessage"></p>
        <button onclick="closePopup()">Close</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="conversation" class="table table-striped">
            <thead>
            <tr>
                <th>Admin Info</th>
            </tr>
            </thead>
            <tbody id="admininformations">
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
