<!DOCTYPE html>
<html>
<head>
  <title>User Stories</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/app.js"></script>
  <script>
    $(document).ready(function(){
      $('#userForm').submit(function(event) {
        event.preventDefault();
        var userID = $('#user').val();
        $.ajax({
          type: 'POST',
          url: '/user-stories-results',
          contentType: 'text/plain',
          data: userID,
          success: function(response) {
            displayResults(response);
          },
          error: function(xhr, status, error) {
            var err = eval("(" + xhr.responseText + ")");
            alert(err.Message);
          }
        });
      });
      function displayResults(results) {
        if(results == null || !results.length){
          $('#Results').empty();
          $('#Results').append("<p>User doesn't exist or has no valid stories</p>")
        }
        else{
          $('#Results').empty();
          $.each(results, function(index, result) {
            var resultItem = $('<div>');
            resultItem.append('<p>Story ' + result + ' indexed</p>');
            $('#Results').append(resultItem);
          });
        }
      }
    });
  </script>
</head>
<body>
  <form id="userForm" method="post">
    <h2>Index a HackerNews User's Stories</h2>
    <label>HackerNews User ID:</label>
    <input type="text" id="user" name="user" required>
    <input type="submit" value="Index User Stories">
  </form>
  <div id="Results"></div>
</body>
</html>
